<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../secciones/head'); %>
    </head>
    <body class="container">
        
        <header>
            <%- include('../secciones/menu'); %>
        </header>
        
        <main>
            <div class="jumbotron">
                <h1>Acerca de...</h1>
                <p>Sitio creado por TI04SM-22</p>
            </div>
        </main>

        <footer>
            <%- include('../secciones/footer'); %>
        </footer>
    </body>
</html>